---
import Base from "@layouts/base.astro"
import Forest from "@components/forest.tsx"
import Tags from "@components/tags.tsx"
import { getCollection } from 'astro:content';

const title = "random forest"

const notes = await getCollection('notes')
const tags = [...new Set(notes.map((note) => note.data.tags).flat())]
---

<Base title={title}>
<div>
    <Forest client:load />
    <div>
        <p>you are here, in my digital sanctuary. some people might call it digital garden but it's just a guilt-free
            place where i can publish my study notes and
            let my
            unoriginal ideas roam free.</p>
        <Tags tags={tags} notes={notes} client:load />
    </div>
</div>
</Base>
