---
import "@styles/global.css"
const { title } = Astro.props
---

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
</head>

<body>
    <div id="wrapper">
        <a href="/#">
            <h1 class="text-xl font-bold max-w-[600px] m-auto">{title} <span class="text-slate-400 font-normal">/
                    juwee's
                    notes</span></h1>
        </a>
        <slot />
    </div>
</body>

</html>
